
<ion-view title="{{navTitle}}">
  <ion-tabs tabs-type="tabs-icon-only">
      <ion-tab title="Tab 1" icon-on="ion-home" icon-off="ion-home">
          <ion-content has-header="true" padding="true" overflow-scroll="true">
            <a ui-sref="pit" class="item">Pit Scout</a>
            <br>
            <a ui-sref="match" class="item">Match Scout</a>
          </ion-content>
      </ion-tab>
  </ion-tabs>
</ion-view>
